<!DOCTYPE html>
<html ng-app lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>GopherVids</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55226077-1', 'auto');
  ga('send', 'pageview');
</script>

<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Gophervids ATOM Feed" />
<link rel="alternate" type="application/rss+xml" title="Gophervids RSS Feed" href="/rss.xml" />

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

<link href="/static/style.css" rel="stylesheet" />

</head>

<body>
	<div class="navbar">
		<span class="logo">
			<img src="/static/img/Go-Logo_White.svg" height="60px" >
			GOPHERVIDS
		</span>

		<!-- <ul class="menu"> -->
		<!-- 	<li>Speakers</li> -->
		<!-- 	<li>Tags</li> -->
		<!-- </ul> -->
	</div>
	<div class="content">
		<div id="player" data-plyr-provider="youtube" data-plyr-embed-id="KdX51QJWQTA"></div>

		<div class="vid-list">
			<div class="vid-list-column">
				<h3>Speakers</h3>
				<div id="speakers"></div>
			</div>
			<div class="vid-list-column">
				<h3>Tags</h3>
				<div id="tags"></div>
			</div>
		</div>
	</div>

	<div class="sidebar">
		<div class="playlist">
			<div class="playlist__title">playlist</div>
			<div class="playlist__body">NO PLAYLLIST LOADED</div>
		</div>
	</div>

<!-- <nav class="navbar navbar-default" role="navigation"> -->
<!--     <div class="container-fluid"> -->
<!--         <!-1- Brand and toggle get grouped for better mobile display -1-> -->
<!--         <div class="navbar-header"> -->
<!--             <a class="navbar-brand" href="#">GopherVids</a> -->
<!--         </div> -->

<!--         <ul class="nav navbar-nav navbar-left"> -->
<!--             <li class="dropdown"> -->
<!--                 <a href="" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a> -->
<!--                 <ul class="dropdown-menu"> -->
<!--                     <li ng-repeat="tag in tags"> -->
<!--                         <a href="" ng-click="playTag(tag.item)"><span class="badge pull-right">{{tag.count}}</span>{{tag.item}}</a> -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </li> -->

<!--             <li class="dropdown"> -->
<!--                 <a href="" class="dropdown-toggle" data-toggle="dropdown">Speakers <b class="caret"></b></a> -->
<!--                 <ul class="dropdown-menu"> -->
<!--                     <li ng-repeat="speaker in speakers"> -->
<!--                         <a href="" ng-click="playSpeaker(speaker.item)"><span class="badge pull-right">{{speaker.count}}</span>{{speaker.item}}</a> -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </li> -->

<!--         </ul> -->

<!--         <div class="navbar-form navbar-left" role="search"> -->
<!--             <div class="form-group"> -->
<!--                 <input type="text" class="form-control" placeholder="Title Search" ng-model="searchText.title"> -->
<!--             </div> -->
<!--         </div> -->

<!--         <ul class="nav navbar-nav"> -->
<!--             <li><a href="" ng-click="recentTalks()">Recent Talks</a></li> -->
<!--         </ul> -->

<!--         <ul class="nav navbar-nav"> -->
<!--             <li><a href="" ng-click="newVideos()">New Videos</a></li> -->
<!--         </ul> -->

<!--         <ul class="nav navbar-nav navbar-right"> -->
<!--             <li><a href="https://github.com/dgryski/gophervids">Feedback?</a></li> -->
<!--         </ul> -->
<!--     </div> -->
<!-- </nav> -->
<!-- <div class="container-fluid"> -->

<!-- 	<div class="row"> -->

<!--         <div class="col-md-7 main video-container"> -->


					
<!--                 <!-1- <div id="ytplayer"></div> -1-> -->
<!--                 <!-1- <script> -1-> -->
<!--                 <!-1- // Add YouTube script. -1-> -->
<!--                 <!-1- var tag = document.createElement('script'); -1-> -->
<!--                 <!-1- tag.src = "https://www.youtube.com/iframe_api"; -1-> -->
<!--                 <!-1- var firstScriptTag = document.getElementsByTagName('script')[0]; -1-> -->
<!--                 <!-1- firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); -1-> -->

<!--                 <!-1- function onYouTubeIframeAPIReady() { -1-> -->
<!--                 <!-1-     window.player = new YT.Player('ytplayer', { -1-> -->
<!--                 <!-1-         height: '315', -1-> -->
<!--                 <!-1-         width: '560', -1-> -->
<!--                 <!-1-         videoId: 'PAAkCSZUG1c', -1-> -->
<!--                 <!-1-         events: { -1-> -->
<!--                 <!-1-         'onReady': function(event) { window.loadPlaylistFromHash() }, -1-> -->
<!--                 <!-1-         } -1-> -->
<!--                 <!-1-     }); -1-> -->
<!--                 <!-1- } -1-> -->
<!--                 <!-1- </script> -1-> -->
<!--                 <br/> -->
<!--             <br/> -->
<!--         </div> -->

<!--         <div class="col-md-4 sidebar"> -->
<!--             <div class="panel panel-default"> -->
<!--                 <div class="panel-heading"> -->
<!--                     <span class="remove-current-tag" ng-show="currentTag"><span ng-click="clear()" class="glyphicon glyphicon-remove"> Now playing `{{currentTag}}`</span></span> -->
<!--                     <span ng-show="currentTag == null && (!searchText || !searchText.title)">No playlist selected</span> -->
<!--                     <span ng-show="currentTag == null && searchText && searchText.title">Search: {{ searchText.title }}</span> -->
<!--                 </div> -->

<!--                 <div class="panel-body"> -->
<!--                     <div class="list-group"> -->
<!--                         <span ng-repeat="video in sidebarVideoList() | filter:searchText"> -->
<!--                             <a class="list-group-item" ng-click="playVideo(video.id)">{{video.title}}</a> -->
<!--                         </span> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="gopher-hole"></div> -->
<!--             <div class="gopher"></div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

<script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
<script src="/static/vidsnew.js"></script>
</body>
