@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@700;900&display=swap');

:root {
	--dark-gray: #5a5861;
	--black: #0a0a0f;
	--ff-heading: 'Work Sans', sans-serif;
	--ff-body: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--ff-body);
	font-size: 16px;

	display: grid;

	grid-template-rows: 70px 1fr;
	grid-template-columns: 1fr 200px;
	height: 100vh;
	width: 100%;

	color: white;
	background-color: var(--black);
}

h1, h2, h3 {
	font-family: var(--ff-heading);
	font-weight: 600;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: var(-ff-heading);
}

.navbar {
	background-color: var(--black);
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.content {
	/* background-color: var(--black); */
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;

	padding: 20px;
}

.sidebar {
	/* background-color: var(--dark-gray); */
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;

	padding: 20px;
}


.plyr{
    border-radius: 4px;
		box-shadow: 0 2px 5px rgba(100,100,100,.1);
	}


ul.menu {
	list-style-type: none;
	font-family: var(--ff-heading);
	font-weight: 600;
	text-transform: uppercase;
}

ul.menu li {
	display: inline-block;
	margin: 0px 10px;
}
